@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}

.first-section{
  position: relative;
}
.main {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px ,100vw);
  background-image: url('/assets/images/bg.jpg');
  position: relative;
}

.main .box{
  height: 100vh;
  width:100%;
  opacity: 0.7;
  position:absolute;
  top:0;
  background-color: black;
}

nav{
  max-width:80vw;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 62px;
  padding: 1rem;
}
nav img{
  color: #E50914;
  width:190px;
  position: relative;
  z-index: 10;
}
nav button{
  position: relative;
  z-index: 10;
}
.netflix-button1{
  background-color: transparent;
  color: white;
  border: 0.5px solid white;
  padding:4px 8px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
}
.netflix-button1 .selector{
  background-color: transparent;
  color: white;
  border: none;
}

.netflix-button2{
  background-color: #e50914;
  color: white;
  border: none;
  padding: 4px 8px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.netflix-button2:hover {
  background-color: #e50914ce;
}

.netflix-button3{
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero{
  font-family: "Martel Sans", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 7.5rem;
  flex-direction: column;
  color: white;
  position: relative;
  padding: 1rem;
  
}
.hero> :first-child{
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  letter-spacing: -0.2rem;
  line-height: 4.5rem ;
}

.hero> :nth-child(2){
  font-size: 20px;
  font-weight: 500;
  text-align: center;

}
.hero> :nth-child(3){
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 1.5rem;
}

.hero .input1{
  background-color: rgba(0, 0, 0, 0.435);
  color: white;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  font-size:18px;
  font-weight: 30px;
  text-align: left;
  padding:12px 100px 12px 8px;

}
.hero .netflix-button4{
   background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 25px 10px 20px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
